{% extends 'blog/base.html'%}
{% load static%}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-grey my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis et asperiores veniam at esse reiciendis repellat nesciunt maiores sapiente delectus!
    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, veniam! Laborum eaque facere tempore molestiae ratione. Officiis, doloremque! Nesciunt omnis praesentium vitae minima assumenda odit commodi eaque fuga, officiis perferendis.</p>
    
</div>

{% endblock content %}